*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
        max-width: 1912px;
	}
header{
		background-color: rgb(255, 228, 196);
		width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        justify-content: space-between;  
	}
header:hover{
    background-image: url('/estilos/picmix.com_1017271.gif');
    transition: 2s;
}
h1{
        padding: 25px 30px;
        margin-right: 1100px;
    	color: rgb(180, 38, 6);
    }
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 800px;
	color: #fff;
	font-size: xx-large;
    text-shadow: 3px 0px 2px #000000;
}
nav{
    background-image: url('/estilos/picmix.com_1017271.gif');
    background-repeat: no-repeat;
    padding-right:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    width: 100px;
    height: 200px;    
}
a{
    text-decoration-style:none;
    color: rgb(180, 38, 6);
    font-size: 30px;
    width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #ffe4c4;
    position: relative;
    overflow: hidden;
    cursor: auto;
}
a:hover{
    background-color: #991111;
    color: #ff3;
    transition: 900ms;
    overflow: hidden;
}

button{
    cursor: pointer;
    background-color: bisque;
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 30px;
    margin-left: 120px;
}

span:hover{
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    transition: 600ms;
}
.imagem{
    background-image: url("https://cdn.pixabay.com/photo/2018/02/27/23/03/autumn-3186876_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 87%;
    width: 100%;
    display: flex;
    align-items: center;

}
.conteudo{
    background-color: #f49d3290;
    justify-content: center;
    width: 1900px;
    padding: 30px;
    display: flex;
}
.nav1{
    display: flex;
    flex-direction: column;
    height: 100px;
}

input[type="checkbox"]{
    background-color: aqua;
    width: 100px;
    height: 200px;
    cursor: pointer;
}
